/* @import "tailwindcss";

@theme {
    --breakpoint-sm: 700px;
    --padding-10: 100px;
    --padding-c-50:200px;
    --margin-y-50:300px;

} */


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1{
        font-size:50px;
    }
}